body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f1f1;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
.hero {
  height: 100vh;
  width: 100%;
}
.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: #fff;
}
.hero-text h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
}

.room-select-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.room-select-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.room-select {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.room-select a {
  text-decoration: none;
  color: #000;
}

.room-select button {
  width: 100px;
  height: 50px;
  border: none;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 0px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

.room-select button:hover {
  color: #fff;
  background: #000;
}

.room-card {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.room-card p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0 20px;
}

.room-card img {
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.island-todo {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.island-todo-cards {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  justify-content: center;
}

.island-todo-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.island-todo-card img {
  width: 100%;
  max-width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.island-todo-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.backdrop {
  background: rgba(5, 255, 230, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50;
  left: 50;
  z-index: 1;
}

.island-info-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.island-info-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.island-info-section p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
}

.island-info-section img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(2mm 4mm 0mm rgba(41, 108, 255, 0.8));
}

.island-info-content {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}

.clouds {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.ballon {
  display: flex;
}

.ballon img:nth-of-type(2) {
  filter: drop-shadow(2mm 4mm 0mm purple);
  transform: rotate(-10deg);
}

.island-todo h2 {
  font-size: 50px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
  overflow-x: scroll;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.img-container {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.parallax-container h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}
.image {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.ball {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
button:hover + .ball {
  animation: scale 0.5s ease-in-out forwards;
}
img:hover + .ball {
  animation: scale 0.5s ease-in-out forwards;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.ball__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
