@font-face {
  font-family: 'casa-regular';
  src: url('../font/casa-regular.otf');
}
@font-face {
  font-family: 'dahlia-regular';
  src: url('../font/dahlia-font/dahlia-regular.otf');
}
@font-face {
  font-family: 'neue-montreal-regular';
  src: url('../font/Neue-montreal/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: 'balava-regular';
  src: url('../font/balava-font/balavaDemo-8mxgb.ttf');
}
@font-face {
  font-family: 'coplette';
  src: url('../font/coplette-font/coplette-regular.otf');
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  cursor: default;
  font-family: 'neue-montreal-regular', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  /*   font-family: 'Rubik', sans-serif; */
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  transition: 0.8s ease;
}
.hero {
  height: 100vh;
  width: 100%;
}
.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: #fff;
  font-family: 'roboto', sans-serif;
}
.hero-text h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
}

.room-select-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.room-select-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.room-select {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.room-select a {
  text-decoration: none;
  color: #000;
  cursor: none;
}

.room-select button {
  width: 100px;
  height: 50px;
  border: none;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 0px;
  margin: 10px;
  cursor: none;
  transition: 0.5s;
  outline: none;
}

.room-select button:hover {
  color: #fff;
  background: #000;
}

.room-card {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.room-card p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0 20px;
}
.room-card p:nth-of-type(1) {
  /* text-align: center; */
}
.room-card p:nth-of-type(2) {
  text-align: center;
}

.room-card h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.room-card img {
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.island-todo {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.island-todo-cards {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  justify-content: center;
}

.island-todo-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.island-todo-card img {
  width: 100%;
  max-width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.island-todo-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.backdrop {
  background: rgba(5, 255, 230, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50;
  left: 50;
  z-index: 1;
}

.island-info-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  transition: 1s ease-in-out;
}

.island-info-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.island-info-section p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
}

.island-info-section img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(2mm 4mm 0mm rgba(41, 108, 255, 0.8));
}

.island-info-content {
  padding: 50px 0;
  width: 100%;
  /* max-width: 1200px;
  min-width: 300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}

.clouds {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.ballon {
  display: flex;
}

.ballon img:nth-of-type(2) {
  filter: drop-shadow(2mm 4mm 0mm purple);
  transform: rotate(-10deg);
}

.island-todo h2 {
  font-size: 50px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  cursor: none;
}

#image-track > .image {
  width: 43vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.img-container {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.parallax-container h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
  background: #fff;
  text-align: center;
}
.image {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.ball {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  /* transform: translate(-50%, -50%); */
  mix-blend-mode: difference;
  z-index: 9999;
  pointer-events: none;
}

button:hover + .ball {
  animation: scale 0.5s ease-in-out forwards;
}
img:hover + .ball {
  animation: scale 0.5s ease-in-out forwards;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.ball__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.ball__inner svg {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  fill: rgba(255, 255, 255, 0.3);
  stroke: rgba(255, 255, 255, 0.7);
  stroke-width: 5px;
}

.ball__inner--active {
  mix-blend-mode: normal;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.5px solid rgba(255, 255, 255, 0.23);
}

.hero-text {
}
.word1,
.word2 {
  opacity: 0;
  animation-fill-mode: forwards;
  /* style text */
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}
.word2 {
  /* font-family: 'casa-regular'; */
  font-size: 90px;
}
@keyframes showWord {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.word1 {
  animation: showWord 1s forwards;
}

.word2 {
  animation: showWord 1s 1s forwards;
}

.info-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 50px 0;
  transition: all 0.5s ease-in-out;
}

.info-container h2 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  /* color: #000; */
  text-align: left;
  font-family: 'casa-regular';
  opacity: 0;
  padding-left: 100px;
}
.info-container p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1.2px;
  line-height: 1.6;
  padding: 0 20px;
  /* color: #000; */
  opacity: 0;
  padding-right: 100px;
}
.first-animation {
  animation: moveInFromLeft 1s forwards 0.5s;
}
.second-animation {
  animation: moveInFromLeft 1s forwards 1s;
}
.third-animation {
  animation: moveInFromRight 1s forwards 1.5s;
}
.info-container span {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0 20px;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
